
:root {
    --cssm-bg1: #1a1b1b;
    --cssm-bg2: #262829;
    --cssm-bg3: #313435;

    --cssm-c1: #1BDA94;
    --cssm-c2: #0AEB98;

    --cssm-fc1: #FFF5F9;
    --cssm-fc2: #D9D2D5;

    --cssm-b-radius: 5px;

}

._cssm_content-wrap {
    position: fixed;
    bottom: -100vh; left: -100vw;
    width: 0; height: 0;
}

@import './partials/select-widget';
@import './partials/ctx-menu';