:root {
  --cssm-bg1: #212333;
  --cssm-bg2: #282B3E;
  --cssm-bg3: #30334A;
  --cssm-bg4: #404563;
  --cssm-bg5: #51567B;
  --cssm-c1: #DA4167;
  --cssm-c1-05: #DA416780;
  --cssm-c1-01: #d93f661a;
  --cssm-c2: #9255d8;
  --cssm-c3: #399dcc;
  --cssm-fc1: #F0EFF4;
  --cssm-fc2: #6d7085;
  --cssm-b-radius: 5px;
}

._cssm_ {
  font-family: Arial !important;
  font-size: 13px;
}

._cssm_content-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  pointer-events: none;
}

._cssm_::-moz-selection {
  background-color: var(--cssm-c1-o1);
}

._cssm_::selection {
  background-color: var(--cssm-c1-o1);
}

._cssm_base, ._cssm_gline, ._cssm_gbox-body, ._cssm_gbox-margin, ._cssm_gbox-entire-box {
  display: block;
  position: fixed;
  z-index: 10000;
  pointer-events: none;
}

._cssm_gbox-entire-box ._cssm_corner {
  height: 5px;
  width: 5px;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  z-index: 10003;
}
._cssm_gbox-entire-box ._cssm_corner._cssm_tl {
  top: 0px;
  border-top: solid 1px #ffffff;
  left: 0px;
  border-left: solid 1px #ffffff;
}
._cssm_gbox-entire-box ._cssm_corner._cssm_tr {
  top: 0px;
  border-top: solid 1px #ffffff;
  right: 0px;
  border-right: solid 1px #ffffff;
}
._cssm_gbox-entire-box ._cssm_corner._cssm_bl {
  bottom: 0px;
  border-bottom: solid 1px #ffffff;
  right: 0px;
  border-right: solid 1px #ffffff;
}
._cssm_gbox-entire-box ._cssm_corner._cssm_br {
  bottom: 0px;
  border-bottom: solid 1px #ffffff;
  left: 0px;
  border-left: solid 1px #ffffff;
}

._cssm_gbox-margin {
  border: dashed 1px var(--cssm-c2);
  z-index: 10002;
}

._cssm_gbox-body {
  border: solid 1px var(--cssm-c1);
  background: var(--cssm-c1-01);
  z-index: 10001;
}

._cssm_gline {
  background-color: #ffffff;
  opacity: 0.2;
  z-index: 10003;
}
._cssm_gline._cssm_v {
  height: 100vh;
  width: 1px;
  top: 0;
}
._cssm_gline._cssm_h {
  width: 100vw;
  height: 1px;
  left: 0;
}

._cssm_elem-info {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 25px;
  background-color: var(--cssm-bg1);
  padding: 0 10px;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
  z-index: 20000;
}
._cssm_elem-info ._cssm_info-toggle {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background-color: var(--cssm-c1);
  box-shadow: 0 0 3px black;
  pointer-events: all;
  margin-right: 7px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}
._cssm_elem-info span {
  font-family: monospace;
  font-size: 13px;
  transform: translateY(-1px);
}
._cssm_elem-info span._cssm_tag {
  color: var(--cssm-c3);
}
._cssm_elem-info span._cssm_id {
  color: var(--cssm-c1);
}
._cssm_elem-info span._cssm_class {
  color: var(--cssm-c2);
}
._cssm_elem-info._cssm_toggle {
  transform: translateY(25px);
}
._cssm_elem-info._cssm_toggle ._cssm_info-toggle {
  transform: translateY(-25px);
  background-color: rgba(255, 255, 255, 0.15);
}

._cssm_y-scrollbar-check {
  height: 0;
  width: 100%;
  display: block;
  pointer-events: none;
  background: transparent;
}

._cssm_ctx {
  display: none;
  position: fixed;
  z-index: 20000;
  min-height: 100px;
  width: 200px;
  background-color: var(--cssm-bg1);
  border-radius: 5px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  pointer-events: all;
}
._cssm_ctx, ._cssm_ctx * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
._cssm_ctx ._cssm_handle {
  width: calc(200px - 18px);
  height: 25px;
  display: flex;
  align-items: center;
  padding: 0 9px;
  padding-bottom: 10px;
  padding-top: 7px;
  position: relative;
  overflow-x: hidden;
  cursor: move;
}
._cssm_ctx ._cssm_handle ._cssm_el-info-wrap {
  display: flex;
  align-items: center;
}
._cssm_ctx ._cssm_handle ._cssm_el-info-wrap span {
  font-family: monospace;
  font-size: 13.5px;
  pointer-events: none;
  margin-right: 4px;
}
._cssm_ctx ._cssm_handle ._cssm_el-info-wrap span._cssm_tag {
  color: var(--cssm-c3);
}
._cssm_ctx ._cssm_handle ._cssm_el-info-wrap span._cssm_id {
  color: var(--cssm-c1);
  white-space: nowrap;
  overflow: hidden;
}
._cssm_ctx ._cssm_handle ._cssm_el-info-wrap span._cssm_cls {
  color: var(--cssm-c2);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
._cssm_ctx ._cssm_handle div._cssm_shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 80%, var(--cssm-bg1) 96%);
  pointer-events: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
._cssm_ctx ._cssm_content ._cssm_option {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: var(--cssm-fc1);
  padding: 7px 10px;
  margin: 0;
  border-bottom: solid 1px var(--cssm-bg2);
  cursor: pointer;
  transition: background-color 0.1s;
  position: relative;
}
._cssm_ctx ._cssm_content ._cssm_option._cssm_disabled {
  pointer-events: none;
  opacity: 0.4;
}
._cssm_ctx ._cssm_content ._cssm_option:hover {
  background-color: var(--cssm-bg2);
}
._cssm_ctx ._cssm_content ._cssm_option:last-child {
  border-bottom: 0;
}
._cssm_ctx ._cssm_content ._cssm_option._cssm_dbl:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-style: solid;
  border-width: 0 7px 7px 0;
  border-color: transparent rgba(255, 255, 255, 0.2) transparent transparent;
}

._cssm_svg-ctrl, ._cssm_group-manage ._cssm_list ._cssm_group ._cssm_elements-list ._cssm_list-inner ._cssm_elem ._cssm_el-options svg, ._cssm_group-manage ._cssm_list ._cssm_group ._cssm_elements-tab svg, ._cssm_group-manage ._cssm_list ._cssm_group ._cssm_group-tab svg, ._cssm_group-manage ._cssm_ctrl-main svg {
  cursor: pointer;
}
._cssm_svg-ctrl path, ._cssm_group-manage ._cssm_list ._cssm_group ._cssm_elements-list ._cssm_list-inner ._cssm_elem ._cssm_el-options svg path, ._cssm_group-manage ._cssm_list ._cssm_group ._cssm_elements-tab svg path, ._cssm_group-manage ._cssm_list ._cssm_group ._cssm_group-tab svg path, ._cssm_group-manage ._cssm_ctrl-main svg path {
  fill: var(--cssm-c1);
  transition: fill 0.15s;
}
._cssm_svg-ctrl:hover path, ._cssm_group-manage ._cssm_list ._cssm_group ._cssm_elements-list ._cssm_list-inner ._cssm_elem ._cssm_el-options svg:hover path, ._cssm_group-manage ._cssm_list ._cssm_group ._cssm_elements-tab svg:hover path, ._cssm_group-manage ._cssm_list ._cssm_group ._cssm_group-tab svg:hover path, ._cssm_group-manage ._cssm_ctrl-main svg:hover path {
  fill: var(--cssm-fc1);
}

._cssm_group-manage {
  position: fixed;
  position: fixed;
  z-index: 15000;
  min-height: 100px;
  width: 300px;
  top: 5vh;
  right: 5vh;
  background-color: var(--cssm-bg1);
  border-radius: 5px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  pointer-events: all;
  transition: opacity 0.3s;
}
._cssm_group-manage._cssm_opacity {
  opacity: 0.25;
}
._cssm_group-manage ._cssm_handle {
  height: 30px;
  width: 100%;
  background-color: var(--cssm-bg2);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  align-items: center;
  cursor: move;
}
._cssm_group-manage ._cssm_handle p {
  margin-left: 10px;
  color: var(--cssm-fc1);
}
._cssm_group-manage ._cssm_handle ._cssm_btn-ball {
  height: 14px;
  width: 14px;
  background-color: var(--cssm-fc1);
  border-radius: 50%;
  margin-left: 8px;
  cursor: pointer;
}
._cssm_group-manage ._cssm_handle ._cssm_btn-ball._cssm_hide {
  background-color: var(--cssm-c1);
}
._cssm_group-manage ._cssm_ctrl-main {
  height: 30px;
  width: 100%;
  border-bottom: solid 1px var(--cssm-bg2);
  display: flex;
  align-items: center;
}
._cssm_group-manage ._cssm_ctrl-main svg {
  height: 16px;
  width: 16px;
  padding: 7px;
}
._cssm_group-manage ._cssm_list {
  width: 100%;
  min-height: 150px;
  max-height: 400px;
  overflow-y: auto;
}
._cssm_group-manage ._cssm_list::-webkit-scrollbar {
  width: 10px;
  background: var(--cssm-bg2);
}
._cssm_group-manage ._cssm_list::-webkit-scrollbar-thumb {
  min-height: 40px;
  background: var(--cssm-bg4);
}
._cssm_group-manage ._cssm_list::-webkit-scrollbar-thumb:hover {
  background: var(--cssm-bg5);
}
._cssm_group-manage ._cssm_list ._cssm_group {
  min-height: 30px;
  width: 100%;
  border-bottom: solid 1px var(--cssm-bg2);
}
._cssm_group-manage ._cssm_list ._cssm_group ._cssm_group-tab {
  height: 30px;
  padding: 0 8px;
  display: grid;
  align-items: center;
  grid-template-columns: 30px 1fr 30px 30px;
}
._cssm_group-manage ._cssm_list ._cssm_group ._cssm_group-tab ._cssm_check-ball {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: var(--cssm-fc1);
  cursor: pointer;
}
._cssm_group-manage ._cssm_list ._cssm_group ._cssm_group-tab ._cssm_name-input {
  height: 30px;
  width: calc(100% - 10px);
  outline: none !important;
  border: none;
  background-color: transparent;
  color: var(--cssm-fc1);
}
._cssm_group-manage ._cssm_list ._cssm_group ._cssm_group-tab ._cssm_item-count {
  margin: 0;
  padding: 0;
  font-size: var(--cssm-fc1);
}
._cssm_group-manage ._cssm_list ._cssm_group ._cssm_group-tab svg {
  height: 16px;
  width: 16px;
  padding: 7px;
}
._cssm_group-manage ._cssm_list ._cssm_group._cssm_active {
  background-color: var(--cssm-bg2);
}
._cssm_group-manage ._cssm_list ._cssm_group._cssm_active ._cssm_check-ball {
  background-color: var(--cssm-c1);
}
._cssm_group-manage ._cssm_list ._cssm_group ._cssm_elements-tab {
  height: 30px;
  display: flex;
  align-items: center;
}
._cssm_group-manage ._cssm_list ._cssm_group ._cssm_elements-tab svg {
  margin-left: 4px;
  padding: 4px;
}
._cssm_group-manage ._cssm_list ._cssm_group ._cssm_elements-tab ._cssm_el-count {
  color: var(--cssm-fc2);
  margin-left: 12px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
._cssm_group-manage ._cssm_list ._cssm_group ._cssm_elements-list {
  width: calc(100% - 20px);
  display: none;
  padding: 8px;
  padding-top: 0px;
}
._cssm_group-manage ._cssm_list ._cssm_group ._cssm_elements-list ._cssm_list-inner {
  border: solid 1px var(--cssm-bg2);
  background-color: var(--cssm-bg1);
  padding: 8px;
  max-height: 200px;
  overflow-y: auto;
}
._cssm_group-manage ._cssm_list ._cssm_group ._cssm_elements-list ._cssm_list-inner::-webkit-scrollbar {
  width: 10px;
  background: var(--cssm-bg2);
}
._cssm_group-manage ._cssm_list ._cssm_group ._cssm_elements-list ._cssm_list-inner::-webkit-scrollbar-thumb {
  min-height: 40px;
  background: var(--cssm-bg4);
}
._cssm_group-manage ._cssm_list ._cssm_group ._cssm_elements-list ._cssm_list-inner::-webkit-scrollbar-thumb:hover {
  background: var(--cssm-bg5);
}
._cssm_group-manage ._cssm_list ._cssm_group ._cssm_elements-list ._cssm_list-inner ._cssm_elem {
  display: flex;
  overflow-x: hidden;
  border-radius: 5px;
  position: relative;
  margin: 4px 0;
}
._cssm_group-manage ._cssm_list ._cssm_group ._cssm_elements-list ._cssm_list-inner ._cssm_elem:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 30px;
  background: linear-gradient(to right, transparent 0%, var(--cssm-bg1) 50%);
}
._cssm_group-manage ._cssm_list ._cssm_group ._cssm_elements-list ._cssm_list-inner ._cssm_elem:hover {
  background: var(--cssm-bg2);
}
._cssm_group-manage ._cssm_list ._cssm_group ._cssm_elements-list ._cssm_list-inner ._cssm_elem p {
  font-family: monospace;
  font-size: 13px;
  margin: 3px 0 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: pre;
}
._cssm_group-manage ._cssm_list ._cssm_group ._cssm_elements-list ._cssm_list-inner ._cssm_elem p._cssm_tag {
  color: var(--cssm-c3);
  margin-left: 8px;
}
._cssm_group-manage ._cssm_list ._cssm_group ._cssm_elements-list ._cssm_list-inner ._cssm_elem p._cssm_id {
  color: var(--cssm-c1);
}
._cssm_group-manage ._cssm_list ._cssm_group ._cssm_elements-list ._cssm_list-inner ._cssm_elem p._cssm_class {
  color: var(--cssm-c2);
}
._cssm_group-manage ._cssm_list ._cssm_group ._cssm_elements-list ._cssm_list-inner ._cssm_elem p._cssm_attr {
  color: var(--cssm-fc2);
}
._cssm_group-manage ._cssm_list ._cssm_group ._cssm_elements-list ._cssm_list-inner ._cssm_elem ._cssm_el-options {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: right;
  z-index: 15001;
}
._cssm_group-manage ._cssm_list ._cssm_group ._cssm_elements-list ._cssm_list-inner ._cssm_elem ._cssm_el-options svg {
  opacity: 0;
}
._cssm_group-manage ._cssm_list ._cssm_group ._cssm_elements-list ._cssm_list-inner ._cssm_elem:hover svg {
  opacity: 1;
}
._cssm_group-manage ._cssm_list ._cssm_group._cssm_show-elems ._cssm_elements-tab svg {
  transform: rotate(180deg);
}
._cssm_group-manage ._cssm_list ._cssm_group._cssm_show-elems ._cssm_elements-list {
  display: block;
}/*# sourceMappingURL=main.css.map */