
:root {
    --cssm-bg1: #111111;
    --cssm-bg2: #1f1f1f;
    --cssm-bg3: #252425;
    --cssm-bg4: #353435;

    --cssm-c1: #DA4167;
    --cssm-c1-o1: #da416780;
    --cssm-c2: #7c36cc;

    --cssm-fc1: #F0EFF4;
    --cssm-fc2: #c7c7c7;

    --cssm-b-radius: 5px;

}

._cssm_content-wrap {
    position: absolute;
    top: 0; left: 0;
    width: 0; height: 0;
    pointer-events: none;
}

._cssm_::selection {
    background-color: var(--cssm-c1-o1);
}


@import './partials/s-highlight.scss';
@import './partials/ctx-menu.scss';
@import './partials/groups.scss';