
:root {
    --cssm-bg1: #212333;
    --cssm-bg2: #282B3E;
    --cssm-bg3: #30334A;
    --cssm-bg4: #404563;
    --cssm-bg5: #51567B;

    --cssm-c1: #DA4167;
    --cssm-c1-05: #DA416780;
    --cssm-c1-01: #d93f661a;

    --cssm-c2: #9255d8;
    --cssm-c3: #399dcc;

    --cssm-fc1: #F0EFF4;
    --cssm-fc2: #6d7085;

    --cssm-b-radius: 5px;

}

._cssm_ {
    font-family: Arial !important;
    font-size: 13px;
}

._cssm_content-wrap {
    position: absolute;
    top: 0; left: 0;
    width: 0; height: 0;
    pointer-events: none;
}

._cssm_::selection {
    background-color: var(--cssm-c1-05);
}

body {
    &._cssm_b-crosshair { cursor: crosshair !important; }
}


@import './partials/s-highlight.scss';
@import './partials/ctx-menu.scss';
@import './partials/groups.scss';
@import './partials/control-tab.scss';