
$p: '_cssm_';
$z: 20000;
$z-peripheral: 20001;

$c-bg1: var(--cssm-bg1);
$c-bg2: var(--cssm-bg2);
$c-bg3: var(--cssm-bg3);
$c-bg4: var(--cssm-bg4);
$c-bg5: var(--cssm-bg5);

$c1: var(--cssm-c1);
$c2: var(--cssm-c2);

$fc1: var(--cssm-fc1);
$fc2: var(--cssm-fc2);