
$p: '_cssm_';
$z: 15000;
$z-peripherals: 15001;

$c-bg1: var(--cssm-bg1);
$c-bg2: var(--cssm-bg2);
$c-bg3: var(--cssm-bg3);
$c-bg4: var(--cssm-bg4);
$c-bg5: var(--cssm-bg5);

$c1: var(--cssm-c1);
$c2: var(--cssm-c2);

$fc1: var(--cssm-fc1);
$fc2: var(--cssm-fc2);

.#{$p}svg-ctrl {
    cursor: pointer;
    path {
        fill: $c1;
        transition: fill 0.15s;
    }
    &:hover path {
        fill: $fc1;
    }
}

.#{$p}group-manage {
    position: fixed;
    z-index: $z;

    min-height: 100px;
    width: 300px;

    top: 5vh;
    right: 5vh;

    background-color: $c-bg1;
    border-radius: 5px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);

    pointer-events: all;

    transition: opacity 0.3s;

    &.#{$p}opacity { opacity: 0.25; }

    .#{$p}handle {
        height: 30px;
        width: 100%;
        background-color: $c-bg2;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        display: flex;
        align-items: center;
        cursor: move;

        p {
            margin-left: 8px;
            color: $fc1;
        }

        .#{$p}btn-ball {
            height: 14px;
            width: 14px;
            background-color: $fc1;
            border-radius: 50%;
            margin-left: 8px;
            cursor: pointer;
    
            &.#{$p}hide { background-color: $c1; }
        }
    }

    .#{$p}ctrl-main {
        height: 30px;
        width: 100%;
        border-bottom: solid 1px $c-bg2;
        display: flex;
        align-items: center;

        svg {
            @extend .#{$p}svg-ctrl;
            height: 16px;
            width: 16px;
            padding: 7px;
        }
    }

    .#{$p}list {
        width: 100%;
        max-height: calc(80vh - 60px);

        overflow-y: auto;
        overflow-x: hidden;
        border-bottom-right-radius: 5px;

        &::-webkit-scrollbar {
            width: 10px;
            background: $c-bg2;
        }
        &::-webkit-scrollbar-thumb {
            min-height: 40px;
            background: $c-bg4;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: $c-bg5;
        }

        .#{$p}group {
            min-height: 30px;
            width: 100%;
            border-bottom: solid 1px $c-bg2;
            &:last-child {
                border-bottom: none;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }

            .#{$p}group-tab {
                height: 30px;
                padding: 0 8px;

                display: grid;
                align-items: center;
                grid-template-columns: 30px 1fr 30px 30px 30px;

                .#{$p}check-ball {
                    height: 14px;
                    width: 14px;
                    border-radius: 50%;
                    background-color: $fc1;
                    cursor: pointer;
                }

                .#{$p}name-input {
                    height: 30px;
                    width: calc(100% - 10px);
                    outline: none !important;
                    border: none;
                    background-color: transparent;
                    color: $fc1;
                }

                .#{$p}item-count {
                    margin: 0;
                    padding: 0;
                    font-size: $fc1;
                }

                svg {
                    @extend .#{$p}svg-ctrl;
                    height: 16px;
                    width: 16px;
                    padding: 7px;
                }
            }
            
            &.#{$p}active {
                background-color: $c-bg2;
                .#{$p}check-ball {
                    background-color: $c1;
                }
            }


            .#{$p}elements-tab {
                height: 30px;
                display: flex;
                align-items: center;

                svg {
                    @extend .#{$p}svg-ctrl;
                    margin-left: 4px;
                    padding: 4px;
                }
                .#{$p}el-count {
                    color: $fc2;
                    margin-left: 12px;
                    user-select: none;
                }
            }
            .#{$p}elements-list {
                width: calc(100% - 20px);
                display: none;
                padding: 8px;
                padding-top: 0px;
                
                .#{$p}list-inner {
                    border: solid 1px $c-bg2;
                    background-color: $c-bg1;
                    padding: 8px;
                    max-height: 200px;
                    overflow-y: auto;

                    &::-webkit-scrollbar {
                        width: 10px;
                        background: $c-bg2;
                    }
                    &::-webkit-scrollbar-thumb {
                        min-height: 40px;
                        background: $c-bg4;
                    }
                    &::-webkit-scrollbar-thumb:hover {
                        background: $c-bg5;
                    }

                    .#{$p}elem {
                        display: flex;
                        overflow: hidden;
                        border-radius: 3px;
                        position: relative;
                        padding: 1px 0;

                        &:after {
                            content: '';
                            display: block;
                            position: absolute;
                            top: 0; right: 0;
                            height: 100%;
                            width: 30px;
                            background: linear-gradient(to right, transparent 0%, $c-bg1 100%);
                        }

                        &:hover {
                            background: $c-bg2;
                        }

                        p {
                            font-family: monospace;
                            font-size: 13px;
                            margin: 3px 0 3px 0;
                            user-select: none;
                            white-space: pre;
                            
                            &.#{$p}tag {
                                color: var(--cssm-c3);
                                margin-left: 8px;
                            }
                            &.#{$p}id {
                                color: var(--cssm-c1);
                            }
                            &.#{$p}class {
                                color: var(--cssm-c2);
                            }
                            &.#{$p}attr {
                                color: var(--cssm-fc2);
                            }
                        }

                        .#{$p}el-options {
                            position: absolute;
                            top: 0; right: 0;
                            height: 100%;
                            width: 40px;
                            display: flex;
                            align-items: center;
                            justify-content: right;
                            z-index: $z-peripherals;

                            svg {
                                @extend .#{$p}svg-ctrl;
                                opacity: 0;
                                padding: 3px;
                            }
                        }
                        &:hover {
                            background: $c-bg2;
                            &:after {
                                width: 45px;
                                background: linear-gradient(to right, transparent 0%, $c-bg1 50%);
                            }
                            svg {
                                opacity: 1;
                            }
                        }
                    }
                }
            }

            &.#{$p}show-elems {
                .#{$p}elements-tab svg {
                    transform: rotate(180deg);
                }
                .#{$p}elements-list {
                    display: block;
                }
            }

            
        }
    }

}