
$p: '_cssm_';
$z: 20000;

$c-bg1: var(--cssm-bg1);
$c-bg2: var(--cssm-bg2);
$c-bg3: var(--cssm-bg3);

$fc1: var(--cssm-fc1);

.#{$p}ctx {
    display: none;
    position: fixed;
    z-index: $z;

    min-height: 100px;
    width: 200px;

    background-color: $c-bg1;
    border-radius: 5px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);

    pointer-events: all;

    &, * { user-select: none; }

    .#{$p}handle {
        width: calc(200px - 18px);
        height: 25px;
        display: flex;
        align-items: center;
        padding: 0 9px;
        padding-bottom: 10px;
        padding-top: 7px;
        position: relative;
        overflow-x: hidden;
        cursor: move;

        span {
            font-family: monospace;
            font-size: 13.5px;
            pointer-events: none;

            margin-right: 4px;

            &.#{$p}tag {
                color: rgb(241, 197, 210);
            }
            &.#{$p}id {
                color: var(--cssm-c1);
            }
            &.#{$p}cls {
                color: var(--cssm-c2);
            }
        }

        div.#{$p}shadow {
            position: absolute;
            top: 0; left: 0;
            height: 100%; width: 100%;
            background: linear-gradient(90deg, rgba(0,0,0,0) 80%, $c-bg1 96%);
            pointer-events: none;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

    }

    .#{$p}content {

        .#{$p}option {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 13px;
            color: $fc1;
            padding: 7px 10px;
            margin: 0;
            border-bottom: solid 1px $c-bg2;
            cursor: pointer;
            transition: background-color 0.1s;
            position: relative;

            &.#{$p}disabled { 
                pointer-events: none;
                opacity: 0.4;
            }

            &:hover { background-color: $c-bg2; }
            &:last-child { border-bottom: 0; }

            &.#{$p}dbl:after {
                content: '';
                position: absolute;
                top: 0; right: 0;
                border-style: solid;
                border-width: 0 7px 7px 0;
                border-color: transparent rgba(255, 255, 255, 0.2) transparent transparent
            }

        }

    }

}